:root {
  --color: #4267b2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: lightblue;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

.restart {
  padding: 10px 12px;
  background-color: var(--color);
  border-radius: 5px;
  width: 200px;
  /* box-shadow: inset 0 1px 0 0 var(--color); */
  border: solid 1px var(--color);
  box-shadow: 1px 2px #032363, 1px 3px #032363, 2px 4px #032363;

  color: white;
  font-size: 16px;
  font-weight: bold;
  outline: none;
}

.restart:hover {
  background: #2b54a7;
}

.restart:active {
  background: #1d4687;
  border-color: #1d4687;
  transform: scale(0.97);
  transition: transform 0.2s;
}

.controllers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

h2,
.restart {
  align-items: center;
  padding: 10px 0;
}

.memory-game {
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  background-color: transparent;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1c7ccc;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  background: white;
}
